<ul>
  <% @messages.each do |message| %>
    <li>
      <span>
        <%= message.english_message %> 
      </span>
      <span>
        <%= message.morse_code %>
      </span>
    </li>  
  <% end %>
</ul>

